{% extends "base.html" %}
{% block content %}
	<p style="margin-top: 1em">
		Add Your Ingredient
	</p>
	<p> 
	<form method="POST" action="../pour/">
	{% csrf_token %}
		Ingredient name: <input type="text" name="name"><br>
		Calories: <input type="number" name="calorie"><br>
		Protein: <input type="number" name="protein"><br>
		Fat: <input type="number" name="fat"><br>
		Sodium: <input type="number" name="sodium"><br>

		<input name="type" type="submit" value="add ingredient">
	</form>
	</p>

{% endblock content %}
