{% extends "base.html" %}
 {% block content %}
<p style="margin-top: 1em">
	Add Your Recipe
</p>
<p> 
<form  method="POST" action="./pour">
{% csrf_token %}
Recipe name: <input type="text" name="name"><br>
Is it vegetarian?<br>
  <input type="radio" name="vege" value="T"> True<br>
  <input type="radio" name="vege" value="F"> False<br>
Any description? <input type="text" name="desc"><br>
Calories: <input type="number" name="calorie"><br>
Protein: <input type="number" name="protein"><br>
Fat: <input type="number" name="fat"><br>
Sodium: <input type="number" name="sodium"><br>

<input name="type" type="submit" value="add recipe">
</form>
</p>

{% endblock content %}