{% extends "base.html" %}
{% block content %}
	<p style="margin-top: 1em">
		Add Your Recipe
	</p>
	{% if form.errors %}
		<p class="text-warning">Please fill the required area</p>
	{% endif %}

	<p> 
	<form  method="POST" action="../pour/">
	{% csrf_token %}
		Recipe name: <input type="text" name="name"><br>
		Calories: <input type="number" name="calorie" min='0'><br>
		Protein: <input type="number" name="protein" min='0'><br>
		Fat: <input type="number" name="fat" min='0'><br>
		Sodium: <input type="number" name="sodium" min='0'><br>
        
        
        <textarea name="message" rows="10" cols="50">How to cook this?</textarea>
        Please seperate steps by line.

        You can add some tags for your recipes here:<br>
        <input name="tags" type="text"><br>
        Please seperate tags using comma.
        
		
		<input name="type" type="submit" value="add recipe">
	</form>
	</p>

{% endblock content %}
