{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<h3>
		Change Your Recipe
	</h3>
	{% if form.errors %}
		<p class="text-warning">Please fill the required area</p>
	{% endif %}
	<p>
		<form  method="POST" action="../../accounts/user/change_my_recipe">
			{% csrf_token %}
			<input type="hidden" name="recipeID" value={{recipeID}}>
                Recipe name: <input type="text" name="name" value={{recipe.name}}  required="required"><br>
			Calories: <input type="number" name="calorie" value={{recipe.calories}} required="required"><br>
			Protein: <input type="number" name="protein" value={{recipe.protein}} required="required"><br>
			Fat: <input type="number" name="fat" value={{recipe.fat}} required="required"><br>
			Sodium: <input type="number" name="sodium" value={{recipe.sodium}} required="required"><br>
			
			Instructions:
			<textarea name="message" required="required" rows="10" cols="50">{{instructions}}</textarea>
			<br>
			
			<input class="btn btn-default" name="type" type="submit" value="change recipe">
		</form>

	</p>
</div>

{% endblock content %}
