{% extends "base.html" %}


{% block content %}
<div class="jumbotron">
    <h3> Team 114SC </h3>
    <ul style="list-style-type: none;">
        <li>
            Ruiqi Li
            <a href="mailto:ruiqili2@illinois.edu"><i class="fa fa-envelope" aria-hidden="true"></i>     ruiqili2@illinois.edu</a>
        </li>
        <li>
            Zihe Wang
            <a href="mailto:zwang199@illinois.edu"><i class="fa fa-envelope" aria-hidden="true"></i>     zwang199@illinois.edu</a>
        </li>
        <li>
            Qianwei Li
            <a href="mailto:qli54@illinois.edu"><i class="fa fa-envelope" aria-hidden="true"></i>     qli54@illiois.edu</a>
        </li>
        <li>
            Jianfeng Xia
            <a href="mailto:jxia11@illinois.edu"><i class="fa fa-envelope" aria-hidden="true"></i>     jxia11@illiois.edu</a>
        </li>
    </ul>
</div>
{% endblock content %}