{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="jumbotron" id="home-container">
	<video playsinline autoplay muted loop id="bgvid">
		<source src="{% static "videos/trial3.mp4" %}" type="video/mp4">	
	</video> 
	{% if user.is_authenticated  %}
        <h1>
            欢迎, {{user.username}}.
        </h1>

        <h2 style="margin-top: 1em">
            <a href="{% url 'explore' %}">  Want to browse?  </a>
        </h2>
        <h2 style="margin-top: 1em">
            <a href="{% url 'add something' %}">  Want to add something? </a>
        </h2>

        {% else %}
        <p style="margin-top: 1em">
            <a  href="{% url 'user_login' %}">Click here to login</a> or <a  href="{% url 'user_signup' %}">Sign up!</a>
        </p>
        <p style="margin-top: 1em">
            <a href="{% url 'explore' %}">  Just want to browse?  </a>
        </p>
        {% endif %}

    </div>

<style>
	video#bgvid { 
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    -ms-transform: translateX(-50%) translateY(-50%);
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    background: url(polina.jpg) no-repeat;
	    background-size: cover; 
	}
</style>
{% endblock content %}
