{% extends "base.html" %}
{% load static %}
{% block content %}
	<video playsinline autoplay muted id="bgvid">
                <source src="{% static "videos/trial3.mp4" %}" type="video/mp4"> 
        </video>

    <div class="jumbotron" id="home-container">
	{% if user.is_authenticated  %}
        <h1>
            欢迎, {{user.username}}.
        </h1>

        <h2 style="margin-top: 1em">
            <a href="{% url 'explore' %}">  Want to browse?  </a>
        </h2>
        <h2 style="margin-top: 1em">
            <a href="{% url 'add something' %}">  Want to add something? </a>
        </h2>

        {% else %}
        <p style="margin-top: 1em">
            <a  href="{% url 'user_login' %}">Click here to login</a> or <a  href="{% url 'user_signup' %}">Sign up!</a>
        </p>
        <p style="margin-top: 1em">
            <a href="{% url 'explore' %}">  Just want to browse?  </a>
        </p>
        {% endif %}

    </div>

<style>
	video { 
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: 1;
	    -ms-transform: translateX(-50%) translateY(-50%);
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    background-size: cover; 
	}
    video.faded {
        animation-name: fadeout;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
    @keyframes fadeout {
        from {opacity: 1;}
        to {
            opacity: 0;
        }
    }
</style>
<script>
	document.getElementById("bgvid").onclick = function(e) {
 		// e.target.style.display = 'none';
        e.target.classList.add("faded");
        setTimeout(()=>{e.target.style.display = "none";}, 1500);
	}
	document.getElementById('bgvid').onended = function(e) {
		// e.target.style.display = 'none';
        e.target.classList.add("faded");
        setTimeout(()=>{e.target.style.display = "none";}, 1500);
    }
</script>
{% endblock content %}
