{% extends "base.html" %}
{% block content %}
	<p>Looking for some goodness?</p>
	<p>
		Couldn't find what you are looking for? 
		<br>	
		Be a hero and add it <a href="{%url 'add something'%}">here</a></p>
	<form class="form-inline" method="POST" action="../result/">
		{% csrf_token %}
		<div class="form-group">
			<input class="form-control" type="text" name="recipe_name">
			<input name="onlyRecipe" type="hidden" value=False>
			<button class="btn btn-default" type="submit">Go Recipes!!</button>
		</div>
	</form>
{% endblock content %}
