{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<p>Looking for some delicious recipes?</p>
	<form class="form-inline" method="POST" action="../result/">
		{% csrf_token %}
		<div class="form-group">
			<input class="form-control" type="text" name="recipe_name">
			<input name="onlyRecipe" type="hidden" value=False>
			<button class="btn btn-primary" type="submit">Go Recipes!!</button>
		</div>
	</form>

	<p>Couldn't remember the name? Try search the tags!</p>
	<form class="form-inline" method="POST" action="../result_tag/">
                {% csrf_token %}
                <div class="form-group">
                        <input class="form-control" type="text" name="tag_name">
                        <input name="onlyTag" type="hidden" value=False>
                        <button class="btn btn-primary" type="submit">Go Tags!!</button>
                </div>
        </form>

	<p>Have a calories goal? Type in your calories consumption and ideal ratio for three meals!</p>
        <form class="form-inline" method="POST" action="../result_macro/">
                {% csrf_token %}
                <div class="form-group">
                        <input class="form-control" type="text" name="cal"> = 
			<input class="form-control" type="text" name="breakfast">:
			<input class="form-control" type="text" name="lunch">:
			<input class="form-control" type="text" name="dinner">
                        <input name="onlyMacro" type="hidden" value=False>
                        <button class="btn btn-primary" type="submit">Go Macro!!</button>
                </div>
        </form>

	<p>Couldn't find what you are looking for? Be a hero and add it <a href="{%url 'add something'%}">here</a></p>


</div>
{% endblock content %}
