{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
New user signup
{% endblock title %}

{% block content %}
    <div class="well col-sm-6">
        <fieldset>
            <legend>
                Create an account
            </legend>
            <div class="panel-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </fieldset>
    </div>
{% endblock content %}
        
       
