{% extends "base.html" %}
{% load static %}
{{% block title %}
{{ user.username }}'s Page
{% endblock title %}

{# TODO check empty for all lists #}
{% block content %}

<!-- <div class="well col-sm-6" style="width: 80%; margin: auto;">
   {{user.username}}'s Home Page
</div> -->


<!-- <div class="well col-sm-4 col-sm-push-1"> -->
<!-- <div class="list-group"> -->
<div class="jumbotron">
	<h2>{{user.username}}'s Home Page</h2>
    <div>
        <img src='{% static "pictures/UserPhoto/default-user.png" %}'/>
        <img src='{% static "pictures/UserPhoto/{{ user.profile.avatar }}" %}'/>
        
        My Bio: {{user.profile.bio}}
        <form method="POST" action="../editBio">
            <button class="btn btn-link btn-lg" type="submit">
                Edit My Profile
            </button>
        </form>
    </div>
    
    
    
    
    
	<form method="POST" action="../my_recipes/">
		{%csrf_token %}
		<button class="btn btn-link btn-lg" type="submit">
		See my recipes
		</button>
	</form>
	<!-- </div> -->
	<!-- <div class="list-group"> -->
	<form method="POST" action="../my_favorites/">
		{%csrf_token %}
		<button class="btn btn-link btn-lg" type="submit">
		See my favorites
		</button>
	</form>
	<!-- </div> -->
	<!-- </div> -->
</div>
{% endblock content %}
