{% extends "base.html" %}
{%block content %}
{%if usr%}
<div>
{%for row in table %}
<p>	 
<form method='GET' action="../../polls/result">
<input name='check'  type='submit' value={{row}}>
</form>

</p>
	{%endfor%}
</div>

{%else%}
<div>
Result for Ingredients:
{%for row in in_table %}
<p>	 
<form method='GET' action="../../polls/result">
<input name='v' type='hidden' value={{row}}>
<input name='check'  type='submit' value={{row.name}}>
</form>
</p>
{%endfor%}
</div>

<div>
Result for Recipes:
{%for row in re_table %}
<p>	 
<form method='GET' action="../../polls/result">
{{row}}
<input name='v' type='hidden' value={{row}}>
<input name='check'  type='submit' value={{row.name}}>
</form>
</p>
{%endfor%}
</div>

{%endif %}


{%endblock content%}
