{% extends "base.html" %}

{{% block title %}
{{ user.username }}'s Page
{% endblock title %}

{# TODO check empty for all lists #}
{% block content %}
    <p> 
    <div class="well col-sm-6">
        {{user.username}}'s Home Page
    </div>
    </p> 
    <p>email address: {{user.eamil}} </p>

 <p>
<form method="POST" action="../my_recipes/">
{%csrf_token %}
<button type="submit"> 
See my recipes
</button>
</form>

<form method="POST" action="../my_recipes/">
{%csrf_token %}
<button type="submit"> 
See my favorites
</button>
</form>


</p>
    
{% endblock content %}
