body {
	/*background-color: rgb(224, 185, 224); */
	text-align: center;
	 /*color: yellowgreen; */
	background-image: url("../images/pic5.jpg");
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 800px;
}

#brand {
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	height: 80%;
}

.jumbotron {
	opacity: 0.8;
}

#home-container {
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

ul.nav.navbar-nav.navbar-right {
	font-size:18px;
}

.star-ratings {
	/*display: inline;*/
	line-height: 1;
	cursor: default;
	unicode-bidi: bidi-override;
	color: #c5c5c5;
	font-size: 25px;
	height: 25px;
	width: 125px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings.top {
	color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings.bottom {
	padding: 0;
    display: block;
	z-index: 0;
	position: absolute;
	top: 0;
    left: 0;
}

/*Modal*/
/*.mymodal {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    text-align: center;
}

.mymodal.active {
    display: flex;
}

.mymodal-content {
    background-color: rgba(128, 128, 128, 0.6);
    display: block;
    width: 80%;
    max-width: 720px;
    margin: auto;
    max-height: 500px;
    position: relative;
    animation-name: fadein;
    animation-duration: 0.5s;
    padding: 5px 10px;
}

.close {
	transition: 0.5s;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding-right: 30px;
}

.close:hover {
    cursor: pointer;
    color: black;
}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1}
}*/

.footer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #DADADA;
    text-align: center;
    color: black;
}

.footer a {
    color: black;
    text-decoration: none;
}
/*.four-cols {
    margin: 0;
    height: 100px;
    width: 100%;
    position: relative;
}*/


/*.cols-left{
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    float: left !important;
    width: 25% !important;
}
Bootstrap is so broken.
*/

/*.user-rating{
	display: flex;
	flex-direction: column;
	justify-content: center
}*/



/*.star-ratings.top span {
	margin: 0;
	padding: 0;
}*/